
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
    overflow-x: hidden;
}

html{
    font-size: 0.8em;
    @include breakpoint($med){
        font-size: 1.1em;
    }
}

body {
    font-size: 1em;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: $gray;
    background-color: $white;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


* {
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}

body {}

#container {}

h1,
h2,
h3,
h4,
h5,
h6{
    line-height: 1;
    margin: 0;
}

header{
    font-family: "futura-pt",sans-serif;
    font-size: 1.5em;
    height: 90vh;
    position: relative;
    overflow: hidden;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 -10rem 10rem -5rem $white inset;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6{
        white-space: nowrap;
        line-height: 1;
        text-transform: uppercase;
        display: block;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-filter: blur(0.5rem);
        filter: blur(0.5rem);
        &:nth-child(4n){
            background-color: $gray;
            color: $white;
            padding: 0.4em 0 0.3em;
            margin: 0 0 0.4em;
        }
    }
}

#mouse{
    position: absolute;
    top: -5rem;
    opacity: 0.2;
    left: -100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.h1{
    font-size: 16em;
    font-weight: 300;
    letter-spacing: -0.05em;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
    &.ja{
        font-size: ms(5);
    }
}
.h2{
    font-size: 7.7em;
    font-weight: 400;
    .key{
        color: $red;
    }
}
.h3{
    font-size: 5em;
    font-weight: 500;
    .key{
        color: $red;
    }
}
.h4{
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 0.08em;
    .key{
        color: $blue-med;
    }
}

main{
    margin: 0 auto ms(4);
    position: relative;
}

.question{
    text-align: center;
    max-width: ms(10);
    padding: ms(5) 0;
    margin: auto;
    font-family: 'futura-pt', sans-serif;
    font-weight: 700;
    font-size: ms(3);
    text-transform: uppercase;
    color: $gray;
    position: relative;
}

.quotes{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: ms(10);
    background-color: $white;
}

.quote{
    cursor: pointer;
    margin: 0 auto;
    max-width: 50rem;
    padding: 2rem 2rem 2rem 6rem;
    position: relative;
    transition: height $timing $func;
    @include breakpoint($med){
        padding: 2rem 6rem;
    }
    &:first-child:before{
        content: none;
    }
    &:before{
        content: "";
        display: block;
        height: 1px;
        background: linear-gradient(to right, $white 0%, $gray-light 50%, $white 100%);
        position: relative;
        top: -2rem;
    }
    blockquote:not([lang=en]){
        opacity: 1;
        margin-left: 0;
        &:before{
            content: attr(lang);
            position: absolute;
            font-size: ms(1);
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            font-family: "futura-pt", sans-serif;
            padding: 0.2rem ms(2) 0 0;
            color: $gray-light;
            top: 0;
            right: 100%;
            text-shadow: 0 0 3rem $white;
            transition: color $timing $func, text-shadow $timing $func;
        }
        &:after{
            content: "\FE40";
            font-size: ms(2);
            font-weight: 100;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            text-align: center;
            width: 2em;
            margin-left: -1em;
            opacity: 0;
            font-style: normal;
            transition: -webkit-transform $timing $func, opacity $timing $func;
            transition: transform $timing $func, opacity $timing $func;
        }
    }
    &.default{
        blockquote[lang=en]{
            opacity: 0 !important;
        }
    }
    &.translated{
        blockquote:not([lang=en]){
            margin-bottom: 1rem;
            &:before{
                color: $blue-med;
                text-shadow: 0 0 3rem $blue-light;
            }
            &:after{
                -webkit-transform: scaleY(-1) translateY(0.5em);
                transform: scaleY(-1) translateY(0.5em);
            }
        }
        blockquote[lang=en]{
            opacity: 1 !important;
        }
        footer{
            color: lighten($gray, 27%);
        }
    }
}

blockquote{
    position: relative;
    font-style: italic;
    font-weight: 400;
    font-size: ms(1);
    line-height: 1.3;
    margin: 0;
    footer{
        color: $gray-light;
        font-weight: 600;
        font-style: normal;
        font-size: ms(0.5);
        text-align: right;
        margin-top: ms(0.5);
        @include breakpoint($med){
            font-size: ms(-0.5);
        }
        &:before{
            content: "—";
            display: inline-block;
        }
    }
    &[lang=en]{
        color: lighten($gray, 20%);
        font-style: normal;
        font-size: 1rem;
        line-height: 1.8;
        width: 100% !important;
        transition: opacity $timing $func;
    }
    &:not([lang=en]){
        color: $red;
        transition: margin $timing $func;
    }
}

a{
    color: $blue-dark;
    text-decoration: none;
    &:hover,
    &:focus{
        text-decoration: underline;
    }
}

.break{
    background-color: $blue-light;
    color: $blue-dark;
    font-size: ms(4);
    font-weight: lighter;
    text-align: center;
    padding: ms(3) ms(3) ms(4);
    position: relative;
    aside{
        text-transform: uppercase;
        background-color: $blue-med;
        color: $blue-dark;
        font-size: 4rem;
        font-size: 4vw;
        font-family: "futura-pt", sans-serif;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 0.02em;
        position: absolute;
        padding: 0.8rem 1.2rem 0.3rem;
        bottom: 0;
        right: 3rem;

        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    } 
}


#main {}

footer {}
