
//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-size: 1.2em;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: $gray;
    background-color: $white;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


* {
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: $transitions;
	-ms-transition: $transitions;
	transition: $transitions;
}

body {}

#container {}

h1,
h2,
h3,
h4,
h5,
h6{
    line-height: 1;
    margin: 0;
}

header{
    margin-left: -50%;
    font-family: "p22-underground",sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        white-space: nowrap;
        text-transform: uppercase;
        &:nth-child(4n){
            background-color: $gray;
            color: $white;
            padding: 0.4em 0 0.2em;
            margin: 0 0 0.4em;
        }
        em{
            color: $blue-med;
            font-style: normal;
        }
    }
}
h1{
    font-size: 16rem;
    font-size: 16vw;
    font-weight: 300;
    margin-bottom: -0.1em;
}
h2{
    font-size: 8rem;
    font-size: 8vw;
    font-weight: 500;
    .key{
        color: $red;
        // font-style: italic;
    }
}
h3{
    font-size: 4rem;
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: 0.05em;
}

section{
    @include media(med){
        padding: 2rem;
    }
}

article{
    padding: 0 2rem 4rem;
    h2{
        float: left;
        padding: 0.5em 0.6em 0.3em;
        background-color: $red;
        color: $white;
        margin: 0 2rem 1rem 0;
    }
    footer{
        .count{
            font-size: 1.2em;
            font-family: "futura-pt-condensed", sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            background-color: $blue-med;
            color: $white;
            padding: 0.5em 1em 0.5em 0.7em; 
        }
    }
}
.quotes{
    list-style: none;
    margin: 0;
    padding: 0;
}

.quote{
    cursor: pointer;
    margin: 4rem auto;
    max-width: 48rem;
    position: relative;
    transition: height 0.2s ease;
    blockquote:not([lang=en]){
        opacity: 1;
        margin-left: 0;
        padding-bottom: 4rem;
        &:before{
            content: '\0201C';
            position: absolute;
            font-size: 4em;
            line-height: 1;
            font-weight: 100;
            font-family: "p22-underground", sans-serif;
            padding: 1rem; // rendering correction
            top: 0;
            left: -6rem;
            opacity: 0;
            transition: opacity $timing 0.2s, left $timing 0.2s;
        }
        &:after{
            content: "\FE40";
            font-size: 2rem;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            text-align: center;
            width: 2em;
            margin-left: -1em;
            opacity: 0;
            font-style: normal;
            transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
            transition: transform 0.2s ease, opacity 0.2s ease;
        }
    }
    &:hover{
        blockquote:not([lang=en]){
            &:before,
            &:after{
                opacity: 1;
            }
            &:before{
                left: -5rem;
            }
        }
    }
    blockquote[lang=en]{
        opacity: 0;
        margin-top: -4rem;
        height: 0;
    }

    &.translated{
        blockquote:not([lang=en]){
            &:after{
                -webkit-transform: scaleY(-1) translateY(0.5em);
                transform: scaleY(-1) translateY(0.5em);
            }
        }
        blockquote[lang=en]{
            opacity: 1;
            margin-top: 0;
            height: auto;
        }
    }
}

blockquote{
    position: relative;
    color: lighten($gray, 10%);
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.3;
    margin: 0;
    width: 100%;
    padding: 1rem 2rem;
    transition: margin 0.2s ease, opacity 0.2s ease;
    footer{
        color: lighten($gray, 50%);
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        text-align: right;
        margin-top: 0.6rem;
        &:before{
            content: "—";
            display: inline-block;
        }
    }
    &[lang=en]{
        color: lighten($gray, 30%);
    }
    &:not([lang=en]){
        color: $red;
    }
}

a{
    color: $blue-dark;
    text-decoration: none;
    &:hover,
    &:focus{
        text-decoration: underline;
    }
}

.break{
    background-color: $blue-med;
    color: $white;
    font-size: 8rem;
    font-size: 10vw;
    font-weight: lighter;
    text-align: center;
    padding: 4rem 4rem 6rem;
    position: relative;
    aside{
        text-transform: uppercase;
        background-color: $white;
        color: $blue-med;
        font-size: 4rem;
        font-size: 4vw;
        font-family: "p22-underground", sans-serif;
        line-height: 1;
        font-weight: 900;
        letter-spacing: 0.05em;
        position: absolute;
        padding: 0.8rem 1.2rem 0.3rem;
        bottom: 0;
        right: 3rem;

        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    } 
}


#main {}

footer {}
